
body {
    background-color: #FBFCF6;
}

h1 {
    font-family: sans-serif;
    color: #000000;
}

h2 {
    font-family: sans-serif;
    color: #9e46d1;
}
h3 {
    font-family: sans-serif;
    color: #000000;
}