
body {
        height:1400px;
        margin:0;
}
.box{
max-width:calc(900px);
font-size: 25px;
font-style:oblique;
color: rgb(2, 72, 85);
text-align:justify;
align-content:center;
margin:0 auto ;
}
.vertical{
max-width: calc(900px);
margin:0 auto;
}

.caja{
    text-align:center;
    color:rgb(230, 80, 21);
    font-style: italic;
font-size:40px;
max-width:calc(1935px);
padding:5px;
content:normal;
border:0px;
background-color:rgb(31, 28, 22);    
}
.left{
max-width:calc(1935px);
}
.TITLE1{
font-size:30px;
font-style:italic;
color:rgb(6, 98, 126);
}
.TITLE2{
    font-size:30px;
    font-style:italic;
    color:rgb(6, 98, 126);
}
.TITLE3{font-size:30px;
    font-style:italic;
    color:rgb(6, 98, 126);}
    
.image{
    align-content:center;
margin:0 auto ;
}

